<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>FlashCard App Home</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Flashcard Application</span>
  </nav>
  <div class="container ">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-7">
      </br>
        <h1 align='center'> Welcome to FlashCard Application </h1>
    </br>
        <img src="\static\home.jpeg" class="img-fluid" alt="Responsive image"/>
    </br>
    <span class="border">
      <form action='/login' align = 'center'>
        <button class="btn btn-light" type="submit">Log in</button>
      </form>
  </br>
      <form action='/signup' align = 'center'>
        <button class="btn btn-light" type="submit">Sign up</button>
    </form>
    </span>
        
      </div>
      <div class="col">
      </div>
    </div>
</body>
</html>